E2E_BASE_URL=https://barber-system-beta.vercel.app

E2E_CLIENT_EMAIL=cliente.e2e@barbersystem.com
E2E_CLIENT_PASSWORD=trocar-senha

E2E_ADMIN_EMAIL=admin.e2e@barbersystem.com
E2E_ADMIN_PASSWORD=trocar-senha

E2E_BARBER_EMAIL=barbeiro.e2e@barbersystem.com
E2E_BARBER_PASSWORD=trocar-senha
